<!-- header.html -->
<header class="header">
	<div class="container">
		<div class="header-flex">
			<a href="#" class="header-link"><img src="img/logo.png" alt="" class="header-logo"></a>
			<ul class="header-menu">
				<li class="header-list"><a href="" class="header-link">ניתוח מתחרים</a></li>
				<li class="header-list"><a href="" class="header-link">צור קשר</a></li>
				<li class="header-list"><a href="" class="header-link">אודות</a></li>
				<li class="header-list"><a href="" class="header-link active">בלוג</a></li>
				<li class="header-list"><a href="" class="header-link">שיווק דיגיטלי</a></li>
				<li class="header-list"><a href="" class="header-link">שירותים</a></li>
				<li class="header-list"><a href="" class="header-link">ראשי</a></li>
			</ul>
			<div class="header-btn-menu">
				<span class="header-line header-line_top"></span>
				<span class="header-line header-line_center"></span>
				<span class="header-line header-line_bottom"></span>
			</div>
		</div>
	</div>
</header>