<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body >
	<section class="wrap-offer">
		@import "header.html"
		<div class="container">
			<div class="wrap-offer-block">
				<a href="tel:טלפון: 035088632" class="wrap-offer-phone"><span class="bold">טלפון:</span> 03-50-88-632</a>
			</div>
			<h1 class="wrap-offer-title">.שחקו חכם, <span class="orange semi-bold">תנו לנו</span>  להתרוצץ בשבילכם על המגרש</h1>
		</div>
	</section>
	<section class="wrap-tabs">
		<div class="container">
			<ul class="wrap-tabs-menu">
				<li class="wrap-tabs-list"><a href="" class="wrap-tabs-link">רשתות חברתיות</a></li>
				<li class="wrap-tabs-list"><a href="" class="wrap-tabs-link">קידום אתרים</a></li>
				<li class="wrap-tabs-list"><a href="" class="wrap-tabs-link">פרסום בפייסבוק</a></li>
				<li class="wrap-tabs-list"><a href="" class="wrap-tabs-link">פרסום בגוגל</a></li>
				<li class="wrap-tabs-list"><a href="" class="wrap-tabs-link">פרסום באינטרנט</a></li>
				<li class="wrap-tabs-list"><a href="" class="wrap-tabs-link">עיצוב אתרים</a></li>
				<li class="wrap-tabs-list"><a href="" class="wrap-tabs-link" >הצג הכל</a></li>
			</ul>
		</div>
	</section>

	<section class="wrap-blog">
		<p class="wrap-blog-text-main orange">
			,אנו אוהבים אתכם על המגרש האמיתי ובמשחק כמו בכל משחק צריכים אתכם מבינים<br>
			,דעתניים, מובילים חכמים, אנו שמחים לדעת שאתם כאן, זה רק אומר לנו שאתם שחקנים חכמים במדיה מתקדמת
			.אז נותר לנו לקוות שתקראו את התכנים שלנו, תלמדו ותיהנו, קריאה מהנה
		</p>
		<div class="wrap-blog-flex">
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card1.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח </h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים<br>
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי<br>
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card2.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח</h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card3.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח </h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card4.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח </h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card1.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח </h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card2.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח</h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card3.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח </h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card4.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח </h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card1.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח </h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card2.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח</h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card3.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח </h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
			<div class="wrap-blog-card">
				<div class="wrap-blog-block">
					<img src="img/card4.png" alt="" class="wrap-blog-img">
					<h4 class="wrap-blog-title" title="!רימרקייטינג ביוטיוב – הדרך הקלה להצליח !רימרקייטינג ביוטיוב – הדרך הקלה להצליח">!רימרקייטינג ביוטיוב – הדרך הקלה להצליח </h4>

				</div>
				<p class="wrap-blog-text line-clamp line-clamp-4">
					קידום סרטונים ביוטיוב כבר הפך ללהיט של ממש: מספר בעלי העסקים
					קי המבינים את הכוח הטמון בדבר משתמשים באמצעי
					זה כדי להגיע ללקוחות חדשים.
				</p>
				<a href="#" class="wrap-blog-btn">קרא עוד</a>
			</div>
		</div>
		<div class="wrap-pages">
			<!--<a href="#" class="wrap-pages-link"><img src="img/prev.png" alt="" class="img-prev"></a>-->
			<a href="#" class="wrap-pages-link active">1</a>
			<a href="#" class="wrap-pages-link">2</a>
			<a href="#" class="wrap-pages-link">3</a>
			<a href="#" class="wrap-pages-link">4</a>
			<!--<a href="#" class="wrap-pages-link wrap-pages-point">...</a>-->
			<!--<a href="#" class="wrap-pages-link">5</a>-->
			<a href="#" class="wrap-pages-link"><img src="img/next.png" alt="" class="img-next"></a>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>


</body>
</html>
